<!doctype html>
<html>

  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="description" content={{description}}>
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" /> 
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/pure/1.0.1/pure-min.css" />
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" type="text/css" href="http://www-db.deis.unibo.it/courses/TW/DOCS/w3schools/lib/w3.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paste.js/0.0.21/paste.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <script>
    function convert_base64() {
        var x, i;
        x = document.querySelectorAll(".convert");
        for (i = 0; i < x.length; i++) {
            try {
                atob(x[i].innerHTML);
                x[i].innerHTML = atob(x[i].innerHTML);
            }
            catch (e) {}
        }

    }

  </script>

  <body>
    <ul class="w3-navbar w3-black">
      <li><a href="/quiz/generate">Quiz</a></li>
      <li><a href="/question/create">Create Q</a></li>
      <!-- <li><a href="/question/edit">Edit Q</a></li> -->
    </ul>

    <div>
      {% block content %}{% endblock %}
    </div>
  </body>

</html>