{% extends 'layout.html' %}

{% block content %}


<form id="questionForm" action="" class="w3-container w3-card-4 w3-light-grey">

    <p>
    <h2>Create a new question</h2>
    </p>

    <p>
        <label>Question</label>
        <div class="rich_div" id="question_body_input" name="question_body_input" height="238px" contenteditable=""></div>
        <input type="hidden" id="question_body" name="question_body">
    </p>

    <p>
        <label for="choice_A_body_input">A</label>
        <input class="w3-check" type="checkbox" name="answer" value="A">
    </p>
    <div class="rich_div" id="choice_A_body_input" name="choice_A_body_input" contenteditable=""></div>
    <input type="hidden" id="choice_A_body" name="choice_A_body">

    <p>
        <label for="choice_B_body_input">B</label>
        <input class="w3-check" type="checkbox" name="answer" value="B">
    </p>
    <div class="rich_div" id="choice_B_body_input" name="choice_B_body_input" contenteditable=""></div>
    <input type="hidden" id="choice_B_body" name="choice_B_body">

    <p>
        <label for="choice_C_body_input">C</label>
        <input class="w3-check" type="checkbox" name="answer" value="C">
    </p>
    <div class="rich_div" id="choice_C_body_input" name="choice_C_body_input" contenteditable=""></div>
    <input type="hidden" id="choice_C_body" name="choice_C_body">

    <p>
        <label for="choice_D_body_input">D</label>
        <input class="w3-check" type="checkbox" name="answer" value="D">
    </p>
    <div class="rich_div" id="choice_D_body_input" name="choice_D_body_input" contenteditable=""></div>
    <input type="hidden" id="choice_D_body" name="choice_D_body">

    <p>
        <label>Tags:</label>
        <input class="w3-input w3-border" type="text" name="tags" placeholder="comma separated for new tags" id="tags">
    </p>

    {% for tag in tags %}
    <p>
        <input class="w3-check" type="checkbox" name="tags_selection" value="{{tag}}">
        <label>{{tag}}</label></p>
    </p>
    {% endfor %}

    <input class="button" type="button" value="Submit" onclick="on_submit_question()" id="submit">

</form>


<script type="text/javascript">

    function on_submit_question() {
        // question and answers - convert inner HTML
        encode_ids = ["question_body_input", "choice_A_body_input", "choice_B_body_input", "choice_C_body_input", "choice_D_body_input"]
        for (i = 0; i < encode_ids.length; i++) {
            id = encode_ids[i];
            id_stripped = id.replace("_input", "");
            console.log(id_stripped);
            document.getElementById([id_stripped]).value = btoa(document.getElementById(id).innerHTML);
        }

        $.ajax({
            type: 'POST',
            url: "/question/create",
            data: $('#questionForm').serialize(),
        }).done(function (result) {
            // update result text
            console.log(result);
            alert(result);
            if (result.includes("not")) {
                // do nothing
            }
            else {
                location.replace("/question/create");
            }
        });
    }

</script>

{% endblock %}