{% extends "layout.html" %}

{% block content %}


<form id="questionEditForm" action="" class="w3-container w3-card-4 w3-light-grey">
    <h2>Search and edit existing questions</h2>

    <p>
        <label>Enter any text in question: </label>
        <input class="w3-input w3-border w3-round" type="text" id="question_keyword" name="question_keyword">
    </p>
    
    <label>Tags:</label>
    {% for tag in tags %}
    <p>
        <input class="w3-check" type="checkbox" name="tags" value="{{tag}}">
        <label>{{tag}}</label></p>
    </p>
    {% endfor %}

    <input class="button" type="button" value="Search" onclick="search_question()" id="submit">

</form>

<br><br>

<form id="questionSaveForm" action="" class="w3-container w3-card-4 w3-light-grey">
    <p><h2>Search Result</h2></p>

    <p>
        <textarea id="questions_found" name="questions_found"></textarea>
    </p>
    <input class="button" type="button" value="Save" onclick="save_question()" id="submit">
</form>


<script type="text/javascript">

function search_question() {
    $.ajax({
        type: 'POST',
        url: "/question/edit",
        data: $('#questionEditForm').serialize(),
    }).done(function(result) {
        // display in a text area relevant json
        console.log(result);
        document.getElementById("questions_found").value = JSON.stringify(result, null, 1);
    });
}

function save_question() {
    $.ajax({
        type: 'POST',
        url: "/question/save",
        data: $('#questionSaveForm').serialize(),
    }).done(function(result) {
        alert(result);
    });
}


$(document).ready(function() {
    var pw = window.prompt("Enter password: ");
	if (pw != "5566") {
        alert("incorrect password. Not allowed to edit");
    	location.replace("/quiz/generate");
    }
});

</script>

{% endblock %}