{% extends 'layout.html' %}

{% block content %}

<form id="quizSelectionForm"  class="w3-container w3-card-4 w3-light-grey" action="/quiz/generate" method="POST">

    <h2>How do you want your questions?</h2>

    <p><h3>Select tags</h3></p>

    {% for tag in tags %}
    <p>
        <input class="w3-check" type="checkbox" name="tags" value="{{tag}}">
        <label>{{tag}}</label></p>
    </p>
    {% endfor %}

    <p><h3>Number of questions</h3></p>
    <p>
        <input type="number" id="size" name="size" min="1" max="50" value="10">
    </p>

    <input class="button" type="submit" id="submit">

</form>

{% endblock %}