{% extends 'layout.html' %}

{% block content %}

<form id="quizForm" class="w3-container w3-card-4 w3-light-grey">
    {% for q in questions %}

    <p>
    <h2>
        Question: {{ q["session_id"] }}
    </h2>
    </p>

    <p>
    <div class="rich_div convert">{{q["question_body"]}}</div>
    </p>

    {% for ch in q["choices"] %}
    <p>
        <input class="w3-check" type="checkbox" name="{{q['session_id']}}" value="{{ch['option']}}">
        <label>{{ch['option']}}. </label>
        <div class="rich_div convert">{{ch['choice_body']}}</div>
    </p>
    {% endfor %}

    <p>
    <div id="{{q['session_id']}}-result"></div>
    </p>
    {% endfor %}

    <input class="button" type="button" value="Submit" onclick="on_submit_quiz()" id="submit">

</form>

<br>

<script type="text/javascript">

    $('document').ready(convert_base64);

    function on_submit_quiz() {
        document.getElementById("submit").disabled = true;

        $.ajax({
            type: 'POST',
            url: "/quiz/submit",
            data: $('#quizForm').serialize(),
        }).done(function (result) {
            // update result text
            for (i = 0; i < result.length; i++) {
                q_result = result[i];
                div_id = q_result['session_id'] + "-result";
                document.getElementById(div_id).innerHTML = q_result["result"];
            }
        });
    }

</script>

{% endblock %}